.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #470606;
    margin-bottom: 20px;
}


.contactForm {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}


.searchBox {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.errorMessage {
    color: red;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}